<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mockserver.demo.dao.MockMapper">

    <sql id="insertFields">
        method, path, param, type, responseVal
    </sql>

    <sql id="selectFields">
        id, method, path, param, type, responseVal
    </sql>

    <select id="selectById" resultType="Mock">
        select <include refid="selectFields"></include>
        from mock
        where id = #{id}
    </select>


    <insert id="insertMock" parameterType="Mock" keyProperty="id">
        insert into mock (<include refid="insertFields"></include>)
        values(#{method}, #{path}, #{param}, #{type}, #{responseVal})
    </insert>

</mapper>